.wrapper {
    &_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        align-items: start;
        grid-row-gap: 20px;
        position: relative;
    }
}
